.popular-destinations-container{
    width: 100%;
    height: 600px;
    padding: 0 70px;
    display: flex;
}
.starts-from{
    width: 35%;
    height: 100%;
    border-radius: 20px;
    border: 0.8px solid #F1871C;
    background-color: #FFF4E9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}
.starts-from-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.starts-from-content{
    display: flex;
    align-items: center;
}
.starts-from-text
{
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 1%;
}
.starts-from-text p{
    font-family: "Nexa-heavy";
    font-weight: normal;
}
.starts-from-text .starts-from-description{
    font-family: "Manrope";
    padding-right: 1rem;
}
.starts-from-text p:nth-child(1){
    font-weight: 500;
    font-size: 18px;
}
.starts-from-text p:nth-child(2){
    font-size: 14px;
    font-weight: lighter;
    line-height: 15px;
}
.starts-from-price{
    font-family: "Manrope";
    background-color: #FFDEBC;
    border: 0.8px solid #FFA800;
    border-radius: 20px;
    font-size: 15px;
    padding: 2px 10px;

}
.starts-from-heading{
    width: 100%;
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Nexa-heavy";
}
.starts-from-image{
    height: 3.5rem;
    width: 5rem;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 2%;
}
.starts-from-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular-destinations-title{
    padding: 0 70px;
    display: flex;
    justify-content: space-between;

}
.popular-destinations-title h2{
    font-size: 25px;
    font-family: 'Nexa';
    font-weight: bolder;
}
.popular-destinations-title button{
    color: white;
    background-color: rgb(213, 91, 46);
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: lighter;
    font-size: 14px;
}

.popular-destinations-images{
    display: flex;
    width: 65%;
    height: 95%;
}
.grp-1,.grp-2{
    width: 100%;
    height: 50%;
    gap: 10px;
}
.grp-1-img-1,.grp-1-img-2,.grp-2-img-1,.grp-2-img-2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}
.grp-1-img-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grp-1-img-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grp-2-img-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grp-2-img-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.grp-1{
    margin-right: 20px;
    margin-left: 20px;
}
.grp-1-img-1{
    margin-bottom: 20px;
}
.grp-2-img-1{
    margin-bottom: 20px;
}
.image-text{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
}
.image-text-1{
    font-weight: bold;
    font-family: "Nexa-heavy";
}
.image-text-2{
    font-family: "Manrope";
}