


.main-package-details-div h1{
    font-size: 90%;
}
.main-package-details-div p{
    font-size: 90%;
    line-height: 1.6rem;
    opacity: 90%;
}
.room-suits-page {
    padding:0px 180px;
    padding-top: 120px;
}